
.play-controls__container {
    display: flex;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    z-index: 3;
  }
  
  .play-controls__container .icon {
    font-size: large;
  }