.star-container {
  position: absolute;
  top: 0;
  left: 10%;
  height: 100px;
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 900px) {
}

@media screen and (max-width: 768px) {
  .star-container {
    top: -20px;
  }
}
