.star-container {
  position: absolute;
  top: 0;
  left: 10%;
  height: 100px;
}

.holloween-container {
  margin-top: -140px;
  float: right;
  margin-left: auto;
}

.holloween-container img {
  z-index: -1;
  margin-top: -150px;
  position: relative;
}

@media screen and (max-width: 768px) {
  .holloween-container {
    margin-top: -95px;
    height: 120px;
    width: 80px;
  }
}
