.star-container {
  position: absolute;
  top: 0;
  left: 10%;
  width: 100px;
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 998px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 576px) {
}
