.container {
  display: flex;
  align-items: center;
  margin-block: 6px;
  font-size: medium;
  color: #828b93;
  position: relative;
}

.container p {
  margin: 0;
  color: #828b93;
}
.container p.value {
  margin-left: auto;
  color: #fff;
}

.icon {
  margin-right: 0.5rem;
  cursor: pointer;
  color: #828b93;
}

.icon:hover {
  color: white;
}

.mytooltip {
  --bs-tooltip-zindex: 8;
  --bs-tooltip-max-width: 280px;
  --bs-tooltip-padding-x: 0.5rem;
  --bs-tooltip-padding-y: 0.5rem;
  --bs-tooltip-font-size: 0.5rem;
  --bs-tooltip-color: #fff;
  --bs-tooltip-bg: #2b2b2b;
  --bs-tooltip-border-radius: 0.375rem;
  --bs-tooltip-arrow-width: 1rem;
  --bs-tooltip-arrow-height: 0.5rem;
}

.mytooltip > div:last-child {
  padding: 12px;
  text-align: left;
}
